@import "../../settings.scss";

.button-block {
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    min-height: 36px;
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    cursor: move;
    transition: all 150ms $ease-in-out;
    background-color: $white;
    color: $grey-700;
    font-size: $font-sm;
    margin-bottom: 0.5rem;
    border: 1px solid $grey-200;

    &:hover {
        box-shadow: $shadow-md;
        color: $primary-700;
        border-color: $primary-400;
    }

    &:active {
        box-shadow: none;
        background-color: $grey-100;
        color: $grey-900;
    }

    &:focus-visible {
        border-color: $primary-400;
    }

    &.is-dragging {
        opacity: 0.3;
        box-shadow: none;
    }
}
