@import "../settings.scss";

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    height: 64px;
    padding: 0 2rem;
    background-color: $white;
    border-bottom: 1px solid $grey-300;
    user-select: none;
}
