@import "../settings.scss";

.page-builder {
    display: grid;
    grid-template-columns: 320px 1fr;
    height: calc(100% - 64px);
    width: 100%;

    aside {
        background-color: $white;
        border-right: 1px solid $grey-300;
        padding: 2rem;
    }

    .view {
        display: block;
        width: 100%;
        overflow-y: scroll;
        padding: 2rem;

        .page {
            width: 100%;
            max-width: 1920px;
            background-color: $white;
            border: 1px solid $grey-300;
            position: relative;
            display: block;
            margin: 0 auto;
            transition: all 150ms $ease-in-out;

            &.can-drop {
                border-color: $primary-400;
                box-shadow: 0 0 0 4px $primary-200;
            }

            .pt-instructions {
                display: block;
                width: 100%;
                text-align: center;
                padding: 4rem;
                color: $grey-700;
            }

            .drop-zone {
                display: block;
                width: 100%;
                padding: 2rem;
                pointer-events: none;
                user-select: none;

                p {
                    border: 1px dashed $primary-400;
                    color: $primary-700;
                    display: block;
                    width: 100%;
                    padding: 2rem;
                    text-align: center;
                }
            }
        }
    }
}
.capture-scroll {
    position: fixed;
    width: 100%;
    height: 2rem;
    left: 0;
    background-color: transparent;
    z-index: 99999;

    &.top {
        top: 0;
    }

    &.bottom {
        bottom: 0;
    }
}
