@import "./settings.scss";

.pt-bttn {
    display: inline-flex;
    height: 36px;
    line-height: 36px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    font-size: $font-sm;
    text-transform: uppercase;
    user-select: none;
    font-weight: $font-medium;
    cursor: pointer;
    transition: all 75ms ease-in-out;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;

    &[type="submit"] {
        html[state="soft-loading"] & {
            border-color: $neutral-200 !important;
            background-color: $neutral-200 !important;
            cursor: not-allowed !important;
            color: $neutral-700 !important;

            &::before {
                display: none !important;
            }
        }
    }

    &[disabled] {
        border-color: $neutral-200 !important;
        background-color: $neutral-200 !important;
        cursor: not-allowed !important;
        color: $neutral-700 !important;

        &::before {
            display: none !important;
        }
    }

    &.-text {
        padding: 0 0.5rem;
        color: $grey-700;

        &.-primary {
            &:hover,
            &:focus {
                color: $primary-800;
            }

            &:active {
                color: $primary-900;
            }

            &::before {
                background-color: $primary-500;
            }
        }

        &.-black {
            &:active {
                color: $grey-900;
            }

            &::before {
                background-color: $grey-900;
            }
        }

        &.-grey {
            &:active {
                color: $grey-800;
            }

            &::before {
                background-color: $grey-600;
            }
        }

        &.-white {
            color: $white;

            &::before {
                background-color: $white;
            }
        }

        &.-success {
            &:hover,
            &:focus {
                color: $success-800;
            }

            &:active {
                color: $success-800;
            }

            &::before {
                background-color: $success-500;
            }
        }

        &.-warning {
            &:hover,
            &:focus {
                color: $warning-800;
            }

            &:active {
                color: $warning-900;
            }

            &::before {
                background-color: $warning-500;
            }
        }

        &.-danger {
            &:hover,
            &:focus {
                color: $danger-700;
            }

            &:active {
                color: $danger-800;
            }

            &::before {
                background-color: $danger-500;
            }
        }

        &:hover,
        &:focus {
            color: $grey-800;

            &::before {
                opacity: 0.1;
                transform: translate(-50%, -50%) scale(1);
                transition: all 150ms $ease-bounce;
            }
        }

        &:active {
            &::before {
                opacity: 0.15;
                transform: translate(-50%, -50%) scale(1);
            }
        }

        &::before {
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 0.125rem;
            background-color: transparent;
            opacity: 0.06;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: all 75ms $ease-in-out;
        }
    }

    &.-solid {
        padding: 0 1rem;

        &.-primary {
            background-color: $primary-700;
            border-color: $primary-700;
            color: $white;

            &:hover,
            &:focus {
                background-color: $primary-600;
                border-color: $primary-600;
                color: $white;
            }

            &:active {
                background-color: $primary-800;
                border-color: $primary-800;
                color: $white;
            }
        }

        &.-black {
            background-color: $grey-900;
            border-color: $grey-900;
            color: $white;

            &:hover,
            &:focus {
                background-color: $grey-800;
                border-color: $grey-800;
                color: $white;
            }

            &:active {
                background-color: $black;
                border-color: $black;
                color: $white;
            }
        }

        &.-white {
            background-color: $white;
            border-color: $white;
            color: $grey-900;

            &:hover,
            &:focus {
                background-color: $grey-100;
                border-color: $grey-100;
            }

            &:active {
                background-color: $grey-200;
                border-color: $grey-200;
            }
        }

        &.-success {
            background-color: $success-700;
            border-color: $success-700;
            color: $white;

            &:hover,
            &:focus {
                background-color: $success-600;
                border-color: $success-600;
            }

            &:active {
                background-color: $success-800;
                border-color: $success-800;
            }
        }

        &.-warning {
            background-color: $warning-400;
            border-color: $warning-400;
            color: $neutral-900;

            &:hover,
            &:focus {
                background-color: $warning-300;
                border-color: $warning-300;
            }

            &:active {
                background-color: $warning-500;
                border-color: $warning-500;
            }
        }

        &.-danger {
            background-color: $danger-700;
            border-color: $danger-700;
            color: $white;

            &:hover,
            &:focus {
                background-color: $danger-600;
                border-color: $danger-600;
            }

            &:active {
                background-color: $danger-800;
                border-color: $danger-800;
            }
        }
    }

    &.-outline {
        padding: 0 1rem;

        &.-primary {
            border-color: $primary-700;
            color: $primary-800;

            &:active {
                color: $primary-900;
            }

            &::before {
                background-color: $primary-500;
            }
        }

        &.-black {
            border-color: $grey-700;
            color: $grey-800;

            &:active {
                color: $grey-900;
            }

            &::before {
                background-color: $grey-900;
            }
        }

        &.-white {
            border-color: $white;
            color: $white;

            &::before {
                background-color: $white;
            }
        }

        &.-success {
            border-color: $success-700;
            color: $success-800;

            &:active {
                color: $success-900;
            }

            &::before {
                background-color: $success-500;
            }
        }

        &.-warning {
            border-color: $warning-700;
            color: $warning-800;

            &:active {
                color: $warning-900;
            }

            &::before {
                background-color: $warning-500;
            }
        }

        &.-danger {
            border-color: $danger-700;
            color: $danger-800;

            &:active {
                color: $danger-900;
            }

            &::before {
                background-color: $danger-500;
            }
        }

        &:hover,
        &:focus {
            &::before {
                opacity: 0.1;
            }
        }

        &:active {
            &::before {
                opacity: 0.15;
            }
        }

        &::before {
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            background-color: transparent;
            left: 0;
            transition: all 75ms ease-in-out;
        }
    }

    &.-tall {
        height: 52px;
        line-height: 52px;

        &.-pill {
            border-radius: 26px;
        }

        &.-icon-only {
            width: 52px;
        }
    }

    &.-wide {
        padding: 0 2rem;
    }

    &.-rounded {
        border-radius: 0.25rem;
    }

    &.-pill {
        border-radius: 18px;
    }

    &.-raised {
        box-shadow: $shadow-lg;

        &.-solid.-white {
            border-color: $grey-100;

            &:active {
                border-color: $grey-200;
            }
        }

        &:active {
            box-shadow: $shadow-sm;
            transform: translateY(2px);
        }
    }

    &.-round {
        border-radius: 50%;

        &::before {
            border-radius: 50%;
        }
    }

    &.-icon-only {
        padding: 0;
        width: 36px;

        i {
            margin-right: 0;
        }
    }

    &.-icon {
        padding: 0 1rem 0 0.5rem;
    }

    i {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin-right: 0.25rem;

        svg {
            width: 16px;
            height: 16px;
        }
    }
}
