<div id="page-builder-mounting-point" style="display: block;width: 100%;position: relative;" data-cp-trigger="{{ craft.app.config.general.cpTrigger }}" data-csrf="{{ craft.app.request.csrfToken }}"></div>
<script src="/{{ craft.app.config.general.cpTrigger }}/papertrain/core/preact/page-builder.js"></script>