<div 
    id="page-builder-mounting-point" 
    style="display: block;width: 100%;position: relative;" 
    data-cp-trigger="{{ craft.app.config.general.cpTrigger }}" 
    data-csrf="{{ craft.app.request.csrfToken }}" 
    {% if currentUser.isInGroup('contentCreator') or currentUser.admin %}
        data-creator="true"
    {% endif %}
></div>
<script src="/{{ craft.app.config.general.cpTrigger }}/papertrain/core/preact/page-builder.js"></script>