@import "../../settings.scss";

.title-input {
    display: inline-block;
    font-size: $font-lg;
    font-weight: $font-medium;
    color: $grey-900;
    transition: all 150ms $ease-in-out;
    height: 36px;
    line-height: 36px;
    width: 400px;
    text-overflow: ellipsis;
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;

    &:hover {
        border-color: $grey-200;
    }

    &:focus {
        border-color: $primary-400;
        box-shadow: 0 0 0 5px $primary-100;
        background-color: $white;
    }
}
